<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!-- 각종 Dto를 편하게 씁시다 -->
	<typeAliases>
		<typeAlias type="com.t.s.model.dto.FreeBoardAnsDto" alias="FreeBoardAnsDto"/>
		<typeAlias type="com.t.s.model.dto.FreeBoardDto" alias="FreeBoardDto"/>
		<typeAlias type="com.t.s.model.dto.GroupDto" alias="GroupDto"/>
		<typeAlias type="com.t.s.model.dto.GroupUserDto" alias="GroupUserDto"/>
		<typeAlias type="com.t.s.model.dto.ImgBoardAnsDto" alias="ImgBoardAnsDto"/>
		<typeAlias type="com.t.s.model.dto.ImgBoardDto" alias="ImgBoardDto"/>
		<typeAlias type="com.t.s.model.dto.MoimAnsDto" alias="MoimAnsDto"/>
		<typeAlias type="com.t.s.model.dto.MoimDto" alias="MoimDto"/>
		<typeAlias type="com.t.s.model.dto.MoimUserDto" alias="MoimUserDto"/>
		<typeAlias type="com.t.s.model.dto.UserDto" alias="UserDto"/>
		<typeAlias type="com.t.s.model.dto.SessionIds" alias="SessionIds"/>
	</typeAliases>
	
	<!-- <environments default=""></environments> 알아서 처리 -->
	
	<mappers>
		<mapper resource="/sqls/mapper.xml"/>
		<!-- resource -> src/main/java/resources 를 잡아준다. -->
	</mappers>

</configuration>
